html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, *:after, *:before {
    box-sizing: inherit;
}

canvas {
    outline: 1px black solid;
}

button {
    transition: all 0.4s;
}

button:hover, input:hover, select:hover {
    cursor: pointer;  
    background-color: white;  
}



.main-nav {
    display: flex;
    justify-content: center;
    margin: 10px 0; 
}

button > a {
    text-decoration: none;
    color: inherit;
}